.aboutSection{
    margin: 70px 60px 0 60px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.aboutSectionText{
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    margin-right: 300px;
}
.aboutTitle{
    font-size: 33px;
    font-weight: bold;
}
.aboutText{
    color: gray;
    font-size: 15px;
}
.image{
    margin: 40px 20px;
    width: 250px;
    height: 250px;
    border-radius: 400px;
}